P2.json
{
  "name": "Gulf News Auto Upload",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": { "item": [{ "mode": "everyDay", "hour": 8 }] }
      },
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "sheetId": "YOUR_SHEET_ID",
        "range": "Sheet1!A:B"
      },
      "name": "Fetch Stories",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 2,
      "position": [400, 300],
      "credentials": { "googleApi": "Google Account" }
    },
    {
      "parameters": {
        "text": "={{$json[\"B\"]}}",
        "model": "gpt-4o-mini",
        "additionalFields": { "temperature": 0.7 }
      },
      "name": "Generate Hinglish Story",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [600, 300],
      "credentials": { "openAiApi": "OpenAI API Key" }
    },
    {
      "parameters": {
        "text": "={{$json[\"data\"]}}",
        "voice": "alloy",
        "format": "mp3"
      },
      "name": "Text to Speech",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [800, 300],
      "options": {
        "method": "POST",
        "url": "https://api.openai.com/v1/audio/speech",
        "headers": {
          "Authorization": "Bearer {{$credentials.openAiApi.apiKey}}",
          "Content-Type": "application/json"
        },
        "body": {
          "model": "gpt-4o-mini-tts",
          "voice": "alloy",
          "input": "={{$json[\"data\"]}}"
        },
        "responseFormat": "file"
      }
    },
    {
      "parameters": {
        "file": "={{$binary.data}}",
        "resource": "upload",
        "options": {}
      },
      "name": "Upload Audio to Cloudinary",
      "type": "n8n-nodes-base.cloudinary",
      "typeVersion": 1,
      "position": [1000, 300],
      "credentials": { "cloudinaryApi": "Cloudinary Account" }
    },
    {
      "parameters": {
        "command": "ffmpeg -loop 1 -i {{$json[\"image_path\"]}} -i {{$json[\"audio_url\"]}} -c:v libx264 -tune stillimage -c:a aac -b:a 192k -pix_fmt yuv420p -shortest output.mp4"
      },
      "name": "FFmpeg Make Video",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "requestMethod": "POST",
        "url": "https://www.googleapis.com/upload/youtube/v3/videos?part=snippet,status",
        "jsonParameters": true,
        "options": {
          "bodyContentType": "json"
        },
        "bodyParametersJson": "{\"snippet\":{\"title\":\"={{$json[\"A\"]}}\",\"description\":\"Auto Generated Gulf News Video\"},\"status\":{\"privacyStatus\":\"public\"}}"
      },
      "name": "Upload to YouTube",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1400, 300],
      "credentials": { "googleOAuth2Api": "YouTube OAuth" }
    }
  ],
  "connections": {
    "Daily Trigger": { "main": [[{ "node": "Fetch Stories", "type": "main", "index": 0 }]] },
    "Fetch Stories": { "main": [[{ "node": "Generate Hinglish Story", "type": "main", "index": 0 }]] },
    "Generate Hinglish Story": { "main": [[{ "node": "Text to Speech", "type": "main", "index": 0 }]] },
    "Text to Speech": { "main": [[{ "node": "Upload Audio to Cloudinary", "type": "main", "index": 0 }]] },
    "Upload Audio to Cloudinary": { "main": [[{ "node": "FFmpeg Make Video", "type": "main", "index": 0 }]] },
    "FFmpeg Make Video": { "main": [[{ "node": "Upload to YouTube", "type": "main", "index": 0 }]] }
  }
}
